!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fermy
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# %script{:type => "text/javascript", :src  => "javascripts/script.js"}
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/notifications'  
    .header
      .head_title
        = link_to root_path, class: "title" do
          Fermy
      .head_btns
        - if user_signed_in?
          = link_to destroy_user_session_path, method: :delete, class: "btn" do
            ログアウト
          = link_to new_quest_path, class: "btn" do
            クエスト発注
        - else
          = link_to new_user_session_path, class: "btn" do
            ログイン
          = link_to new_user_registration_path, class: "btn" do
            サインアップ
    = yield
    .footer
      .foot_title
        %h2
          どんな切り口で解こうか？
      .foot_btn
        = link_to root_path, class: "btn" do
          トップへ戻る